@charset "utf-8";

@font-face{
    font-family: segoeui; /* Имя шрифта */
	src: url('../assets/fonts/segoeui.eot'), url('../assets/fonts/segoeui.ttf'); /* Путь к файлу со шрифтом */	
}

html, body {
	height: 100%;
	font-family: segoeui;
}

a {
	text-decoration: none;
}

p {text-indent:2em;}

ul{
	list-style: none;
}

h1{
	font-family: 'Forum', Courier;
	font-size: 32px; 
	color: #fff;
	text-decoration: underline;
}

h2{
	font-family: 'Forum', Courier;
	font-size: 24px; 
	color: #fff;
}

#header  {
	width: 100%;
	height: 80px;
	background-color: #000;
}

.noscript {
	display: block;
	background: #FFDDCE;
	font-size: 17px;
	line-height: 60px;
	padding: 0 15px;
	text-shadow: 1px 1px 1px #FFF;
	border: 1px solid #F00;
	color: #000;
	text-align: center;
	font-family: segoeui;
	margin-bottom: 20px;
}

#md_header  {
	width: 1000px;
	min-width: 1000px;
	height: 80px;
	margin: 0 auto;	
}	

#blockleft  {
	float: left;
	width: 250px;
	padding-top: 15px;
}

#social {
	width: 180px;
	height: 20px;
	float: left;
	padding-top: 4px;
	padding-left: 8px;
}

#blockcenter  {
	position: relative;
	float: left;
	width: 750px;
	text-align:center;
}

#blockcenter a {
	padding: 0 30px 0 30px;
	font-size: 22px; 
	color: #fff;
}

#blockcenter a:hover {
	padding: 0 30px 0 30px;
	font-size: 22px; 
	color: yellow;
}

.curr {
	color: #DAA520;
}

.curr:hover {
	color: yellow;
}

#content  {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height:100%;
	padding: 0 0 -80px 0;
	background: url("../images/bg.png");
}

#wrapper  {
	width: 1000px;
	min-width: 1000px;
	margin: 0 auto;
	font-family: 'Forum', Courier;
	font-size: 24px; 
	color: #fff;
	padding-top: 20px;
}


table.table1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    font-style: normal;
    border-collapse:separate;
	width:100%;
	margin-top: -30px;
}

.table1 th{
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #fff;
    background-color:#4682b4;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
	text-align: center;
}

.table1 td{
    text-align:center;
	border: 1px solid #fff;
	color: #fff;
}


#footer  {
	position: relative;
	width: 100%;
	height: 80px;
	margin-top: -80px;
	background: url("../images/footer_bg.png");
}

#md_footer  {
	width: 1000px;
	min-width: 1000px;
	margin: 0 auto;
	font-size: 20px;
	text-align: center;
	line-height:80px;
}

#md_footer a{
	color: #000;
	padding: 0 40px 0 40px;
}

#md_footer a:hover{
	color: #fff;
	padding: 0 40px 0 40px;
}
